<!doctype html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script async src="https://cdn.tailwindcss.com?plugins=typography"></script>
    </head>
    <body class="prose">
        <h1>Prose</h1>
        {{ content }}
    </body>
</html>
